 ## 문제 1: 구구단 중 '홀수단'만 출력하기 (이중 for문)

 **목표:**
 1. 2단부터 9단까지 구구단을 출력합니다.
 2. 단, **홀수 단(3, 5, 7, 9단)**만 출력해야 합니다.
 3. 추가 조건: 각 단의 결과값(곱한 값)이 **20 이하**인 경우만 출력하세요.

 **출력 예시:**
 === 3단 ===
 3 x 1 = 3
 ...
 3 x 6 = 18
 (21부터는 출력 X)
 === 5단 ===
 ...

In [ ]:
# [문제 1 작성 셀]
print("--- 구구단 홀수단 & 20 이하 출력 ---")

# 여기에 코드를 처음부터 작성하세요.


 ## 문제 2: 중복 제거하고 정렬하기 (List Logic)

 **목표:**
 `data_list`에는 중복된 숫자들이 섞여 있습니다.
 1. **중복을 제거**한 리스트를 만드세요. (set() 함수 사용 금지, for/if 사용)
 2. **오름차순(작은 수 -> 큰 수)으로 정렬**하세요. (sort() 함수 사용 금지, 직접 로직 구현)
 3. 최종 리스트를 출력하세요.

In [ ]:
# [문제 2 작성 셀]
data_list = [10, 50, 20, 10, 30, 50, 40, 20]

# 여기에 코드를 처음부터 작성하세요.

 ## 문제 3: 자판기 거스름돈 계산 (Greedy Algorithm)

 **목표:**
 1. 손님이 낸 돈(`money`)에서 물건 값(`price`)을 뺍니다.
 2. 돈이 부족하면 "돈이 부족합니다"를 출력하세요.
 3. 돈이 남으면, 거스름돈을 줍니다. 단, **동전 개수를 최소한**으로 줄여야 합니다.
    (가능한 500원을 먼저 다 주고, 나머지를 100원으로 줍니다.)
 4. 최종적으로 500원짜리 몇 개, 100원짜리 몇 개인지 출력하세요.

In [ ]:
# [문제 3 작성 셀]
money = 3200
price = 1200

# 여기에 코드를 처음부터 작성하세요.

 ## 문제 4: 리스트 안의 딕셔너리 필터링 (Data Processing)

 **목표:**
 `students` 리스트에서 다음 조건에 맞는 학생의 **이름**만 추출하여 `passed_students` 리스트에 담고 출력하세요.

 **합격 조건:**
 1. 평균 점수 `(math + eng) / 2` 가 **80점 이상**이어야 함.
 2. **과락 제도:** 평균이 아무리 높아도, 수학(math) 또는 영어(eng) 중 하나라도 **60점 미만**이면 탈락.

In [ ]:
# [문제 4 작성 셀]
students = [
    {"name": "Alice", "math": 90, "eng": 85},
    {"name": "Bob", "math": 100, "eng": 50},
    {"name": "Charlie", "math": 80, "eng": 80},
    {"name": "David", "math": 40, "eng": 40},
    {"name": "Eve", "math": 95, "eng": 95}
]

 ## 문제 5: 다이아몬드 별 찍기 (Logic)

 **목표:**
 `level` 변수에 따라 피라미드 모양의 별을 출력하세요.
 `for`문과 문자열 연산을 사용하여 구현합니다.

 **예시 (level=3):**
   * (공백 2개, 별 1개)
  *** (공백 1개, 별 3개)
 ***** (공백 0개, 별 5개)

In [ ]:
# [문제 5 작성 셀]
level = 5