In [4]:
name ="alex"

# list
#1. 여러 개의 데이터를 저장한다 .
#2. 순서를 가진다. 
    # 순서를 가져야 하는 이유 -> 개별 데이터에 접근하기 위해서.

names = ['alex','ken','jun'] # 컨테이너 - 한번에 여러개의 데이터를 저장

#alex라는 데이터에 접근하고 싶어
#print( names의 0번째 데이터를 줘 )
print(names[1])

print(names[2])

name = names[0]
print(name)

ken
jun
alex

In [5]:
name = 'jun' # ken 으로 바꾸고 싶어
name = 'ken' # 재할당, 덮어쓰기를 할 수 있습니다

print(name)

names = ['alex','ken','jun']

# 'jun'이란 데이터를 'kyle'로 바꾸고 싶음.
# names의 2번째 자리에 'kyle'을 넣고 싶음.
names[2] = 'kyle'

print(names[2])

ken
kyle

In [11]:
names = ['max','jini','cobi']

print(names)

print(names[1], names[2], names[0])

print('my family members are', names)

print(names[2], names[0], names[1], sep='\n')

['max', 'jini', 'cobi']
jini cobi max
my family members are ['max', 'jini', 'cobi']
cobi
max
jini

In [17]:
names = ['max','jini','cobi']

# name = names[0]
# print(name)

# name = names[1]
# print(name)

for name in names:
    print(name)

max
jini
cobi

In [19]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in nums:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 1st = ['a', 'b', 'c', 'd' ]
# while 문을 활용해서 a b c d를 출력해봅시다.