In [ ]:
name = 'alex'

# list
# 1. 여러 개의 데이터를 저장한다.
# 2. 순서를 가진다.
    # 순서를 가져야 하는 이유 -> 개별 데이터에 접근하기 위해서.

alex
jun
jun

### 데이터 조회(index)

In [ ]:
names = ['alex', 'ken', 'jun']

# alex라는 데이터에 접근하고 싶어.
# print( names의 0번째 데이터를 줘)
print(names[0])

print(names[2])

name = names[2]
print(name)

### 데이터 수정

In [6]:
name = 'jun' # ken으로 바꾸고 싶어.
name = 'ken' # 재할당, 덮어쓰기를 할 수 있습니다.

print(name)

names = ['alex', 'ken', 'jun']

# 'jun'이란 데이터를 'kyle'로 바꾸고 싶음.
# names의 2번째 자리에 'kyle'을 넣고 싶음.
names[2] = 'kyle'

print(names)

ken
['alex', 'ken', 'kyle']

In [9]:
family_name = ['유인나', '유재석', '유인촌', '유유유']
print(family_name[0])
print(family_name[1])
print(family_name[2])
print(family_name[3])
# print(family_name[4]) index error

유인나
유재석
유인촌
유유유