### 문제 1
다음 리스트를 만들어보세요 (여러가지 방법으로 만들어보세요)
- a. [0, 1, 2, 3, 4, 5]
- b. [4, 5, 6, 7]
- c. [3, 6, 9]
- d. [1, 2, 1, 2, 1, 2, 1, 2]

In [6]:
lst = [i for i in range(10)]

a = lst [0:6]
print ("a.", a)

b = lst [-6:-2]
print ("b.", b)

multiples_3 = [i for i in range(1,10) if i % 3 == 0]

print("c.", multiples_3)

d = lst[1:3]
d1= d*4
print("d.", d1)

a. [0, 1, 2, 3, 4, 5]
b. [4, 5, 6, 7]
c. [3, 6, 9]
d. [1, 2, 1, 2, 1, 2, 1, 2]

### 문제 2
구구단 3단을 출력하시오. 단, for, while을 활용하여 다양하게 만들어보시오.

In [ ]:
# for i in range(1, 28):
#     if i % 3 == 0:  
#         print(i)

i = 1
while i < 30:
    if i % 3 == 0:
        print(i)
        i+=1
    #기존 코드는 들여쓰기 문제로 꼬였음, 이 코드는 print (i) 이후에 i+=1의 위치가 잘못됌


##########################

i = 1
while i < 30:
    # 3의 배수인지 확인
    if i % 3 == 0:
        print(i)  # 맞으면 출력! (더하는 게 아니라)
    
    i += 1  # 검사가 끝났으니 다음 숫자로 넘어감 (맨 마지막에 한 번만)


######################

lst = [num * 3 for num in range(10)]
print(lst)

lst = []
for num in range(1, 10):
    lst.append(num * 3)
print(lst)

3
6
9
12
15
18
21
24
27
3
6
9
12
15
18
21
24
27
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]
[3, 6, 9, 12, 15, 18, 21, 24, 27]

### 문제 3
40 이하의 3의 배수를 출력하시오

In [43]:
for i in range(1, 41):
    if i % 3 ==0:
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39

### 문제 4
1 ~ 100 중에 7의 배수의 개수를 출력하세요.

### 문제 5
lst = [1, 2, 4, 3, 3, 5, 5, 6, 9, 7] 일 때,
원소가 1, 4, 5, 7인 경우를 제외하고 출력하세요

### 문제 6
1 ~ 9 까지의 자연수 중 제곱한 수가 10 이상 50 이하인 자연수의 리스트를 출력해보세요.

### 문제 7
숫자 두개를 각각 입력받아 두 수 사이에 속한 모든 정수의 합을 구하시오. (ex. 2와 5를 입력받는다면 2 + 3 + 4 + 5 = 14)

In [ ]:
a = int(input())
b = int(input())


###############


a = 10
b = 10


# a,b = b, a
tmp = a # a:10 / b: 30 / tmp: 10
a = b #

2
3
4

### 문제 8
다음 리스트 `colors = ['red', 'green', 'blue', 'yellow', 'purple']`의 인덱스와 값을 함께 출력하세요.
(출력 예시: `번호: 0, 색상: red` ...)

In [ ]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']

# range(len(colors))를 활용하여 작성해보세요.

### 문제 9
1부터 50까지의 숫자 중에서 5의 배수만 골라 `my_list`에 저장하고, 그 리스트의 모든 요소의 합을 `for`문을 사용하여 구하세요.

In [ ]:
my_list = []
total = 0

# 1. range를 사용하여 5의 배수를 리스트에 추가
# 2. for문을 사용하여 합계 계산

print(f"리스트: {my_list}")
print(f"합계: {total}")

### 문제 11
사용자로부터 숫자를 계속 입력받다가 `-1`을 입력하면 입력을 멈추고, 그동안 입력받은 숫자들 중에서 **가장 큰 값**을 출력하는 프로그램을 `while`문을 사용하여 작성하세요. (단, `max()` 함수를 사용하지 마세요.)

In [ ]:
max_val = 0

while True:
    num = int(input("숫자를 입력하세요 (-1 종료): "))
    if num == -1:
        break
    # 여기에 최댓값을 갱신하는 로직을 작성하세요

print(f"가장 큰 값: {max_val}")

### 문제 12
`while`문을 사용하여 1부터 100까지의 정수 중 홀수의 합과 짝수의 합을 각각 따로 구하여 출력하세요.

In [ ]:
odd_sum = 0
even_sum = 0
n = 1

while n <= 100:
    # 조건문을 사용하여 홀수/짝수 합계를 구하세요
    n += 1

print(f"홀수의 합: {odd_sum}")
print(f"짝수의 합: {even_sum}")

### 문제 13
n = 17일 때, n이 소수인지 판단하시오. 

(추가로, n을 입력받아 같은 과정을 반복하시오.)