### 문제 1
다음 리스트를 만들어보세요 (여러가지 방법으로 만들어보세요)
- a. [0, 1, 2, 3, 4, 5]
- b. [4, 5, 6, 7]
- c. [3, 6, 9]
- d. [1, 2, 1, 2, 1, 2, 1, 2]

### 문제 2
구구단 3단을 출력하시오. 단, for, while을 활용하여 다양하게 만들어보시오.

In [14]:
for lst in range(1, 10):
    cal3 = (3 * lst)
    print(cal3)

i = 1
while i <= 9 :
    cal3 = (3 * i)
    i +=1
    print(cal3)

3
6
9
12
15
18
21
24
27
3
6
9
12
15
18
21
24
27

### 문제 3
40 이하의 3의 배수를 출력하시오

In [17]:
for lst in range(1, 41):
    if lst % 3 == 0:
        print(lst)

num = 1
while num <= 40:
    if num % 3 ==0:
        print(num)
    num+=1

3
6
9
12
15
18
21
24
27
30
33
36
39
3
6
9
12
15
18
21
24
27
30
33
36
39

### 문제 4
1 ~ 100 중에 7의 배수의 개수를 출력하세요.

In [38]:
lst = []
for num in range(1, 101):
    if num % 7 == 0:
        lst.append(num)
print(len(lst))

14

### 문제 5
lst = [1, 2, 4, 3, 3, 5, 5, 6, 9, 7] 일 때,
원소가 1, 4, 5, 7인 경우를 제외하고 출력하세요

In [25]:
lst = [1, 2, 4, 3, 3, 5, 5, 6, 9, 7]

for i in lst:
    if i != 1 and i!=4 and i != 5 and i !=7:
        print(i)

exclude_num = [1, 4, 5, 7]

for i in lst:
    if i not in exclude_num:
        print(i)

2
3
3
6
9
2
3
3
6
9

### 문제 6
1 ~ 9 까지의 자연수 중 제곱한 수가 10 이상 50 이하인 자연수의 리스트를 출력해보세요.

In [34]:

lst= []
for i in range(1, 10):
    if 10 <= i ** 2 <= 50:
        lst.append(i)
print(lst)
    

result = [i for i in range(1, 10) if 10 <= i **2 <= 50]
print(result)

[4, 5, 6, 7]
[4, 5, 6, 7]

### 문제 7
숫자 두개를 각각 입력받아 두 수 사이에 속한 모든 정수의 합을 구하시오. (ex. 2와 5를 입력받는다면 2 + 3 + 4 + 5 = 14)

In [ ]:
n = int(input())
m = int(input())

lst = []
for i in range(n, m+1):
    lst.append(i)
print(sum(lst))

## 최종 개선판

n = int(input())
m = int(input())

# [핵심 개선] 사용자가 5, 2 처럼 거꾸로 입력해도 2~5로 바꿔줍니다.
# min(n, m)은 작은 수, max(n, m)은 큰 수를 찾아줍니다.
start_num = min(n, m)
end_num = max(n, m)

# [핵심 개선] 굳이 리스트를 만들거나 for문을 돌리지 않아도,
# range 자체를 sum에 넣으면 바로 합계를 구해줍니다.
result = sum(range(start_num, end_num + 1))

print(result)

0

### 문제 8
다음 리스트 `colors = ['red', 'green', 'blue', 'yellow', 'purple']`의 인덱스와 값을 함께 출력하세요.
(출력 예시: `번호: 0, 색상: red` ...)

In [ ]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']

### 문제 9
1부터 50까지의 숫자 중에서 5의 배수만 골라 `my_list`에 저장하고, 그 리스트의 모든 요소의 합을 `for`문을 사용하여 구하세요.

### 문제 11
사용자로부터 숫자를 계속 입력받다가 `-1`을 입력하면 입력을 멈추고, 그동안 입력받은 숫자들 중에서 **가장 큰 값**을 출력하는 프로그램을 `while`문을 사용하여 작성하세요. (단, `max()` 함수를 사용하지 마세요.)

### 문제 12
`while`문을 사용하여 1부터 100까지의 정수 중 홀수의 합과 짝수의 합을 각각 따로 구하여 출력하세요.

### 문제 13
n = 17일 때, n이 소수인지 판단하시오. 

(추가로, n을 입력받아 같은 과정을 반복하시오.)